1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x4
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "041904E3"
    BEGIN
      VALUE "CompanyName", "Kurganstalmost\0"
      VALUE "FileDescription", "Warehouse\0"
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "InternalName", "Warehouse\0"
      VALUE "OriginalFilename", "Warehouse.exe\0"
      VALUE "ProductName", "Warehouse\0"
      VALUE "ProductVersion", "1.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0419, 1251
  END
END
